* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #ced8ff;
}

.container.dark {
  background: #222;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-container .MuiCard-root {
  margin: 5px;
}

.banner-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh; /* Ajuste inicial para altura */
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: 1;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra toda el área */
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

.banner-text h1, .banner-text p {
  text-shadow: 3px 3px 6px #000000;
}

.banner-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bfa75d;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-button:hover {
  background-color: #bfa75d;
}

@media (max-width: 768px) {
  .banner-container {
    height: 70vh; /*  altura para pantallas pequeñas */
  }

  .banner-text h1 {
    font-size: 24px;
  }

  .banner-text p {
    font-size: 14px;
  }

  .banner-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .banner-text {
    width: 90%;
  }
}

.comments-section {
  padding: 20px;
  background-color: #f4f4f4;
  margin-top: 20px;
}

.comments-section h2 {
  margin-bottom: 10px;
}

.comments-section textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comments-section button {
  padding: 10px 20px;
  background-color: #bfa77d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.comments-section button:hover {
  background-color: #bfa75d;
}

.comments-list {
  margin-top: 20px;
}

.comment {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
